.overlay-box {
  background: rgba(255, 255, 255, 0.6); 
  padding: 2rem;
  border-radius: 15px;
  max-width: 600px;
  margin: 100px auto; 
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}
p{
  font-size: 1.2rem;
  text-align: center;
}
button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #3c9aff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #7dcbff;
}
li{
  text-align: left;
  margin: 10px 0;
}
.image-row {
  display: flex;
  justify-content: center;  
  gap: 15px;                
  margin: 15px 0;
}

.image-row img {
  width: 200px;             
  height: auto;
  border-radius: 8px;      
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.image-row img:hover {
  transform: scale(1.2);   
}
.gallery {
  display: flex;
  overflow-x: auto;          
  scroll-snap-type: x mandatory; 
  gap: 10px;               
  padding: 10px;
  max-width: 650px;          
  margin: auto;              
}

.gallery img {
  flex: 0 0 auto;           
  width: 200px;              
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  scroll-snap-align: center; 
}
.gallery img:hover {
  transform: scale(1.1);     
}
input {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  align-items: center;
  text-align: left;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  
}
textarea {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  height: 100px;
  resize: vertical; 
  margin-top: 10px;
  text-align: left;
  margin: 0 auto;
  
}